# generate your key by `uv run python -c 'from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())'
DJANGO_SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
# JWT_SIGNING_KEY=your-jwt-signing-key-here
# JWT_ACCESS_TOKEN_LIFETIME_MINUTES=30
# JWT_REFRESH_TOKEN_LIFETIME_DAYS=7
